.men {
  @include common-rules;  
  @include big-tablet {
    background-color: $color-orange;
    color: $white;
    width: 90%;
  }
}

.jew {
  @include common-rules;  
  @include big-tablet {
    background-color: $color-green;
    color: $white;
    width: 70%;
  }
}

.ele {
  @include common-rules; 
  @include big-tablet {
    background-color: $color-blue;
    width: 80%;
    color: $white;
  }
}

.wom {
  @include common-rules; 
  @include big-tablet {
    background-color: $color-pink;
    @include product-item;
    width: 100%;
  }
}
