.products-details {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;


    .products-details__title {
        grid-column: 1;
        color: #564aff;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1 {
            font-size: 25px;
            font-weight: bold;
            margin: 10px 0px 10px 0px;
            text-align: center;
            padding: 10px;

        }
    }

    .divclass {
        background-color:white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        margin-left: 10px;
        margin-right: 10px;

        img {
            width: 80%;
            height: 100%;
        }
    }

    .products-details__price {
        grid-column: 1;
        grid-row: 3;
        padding: 10px;

        .products-details__price__container {
            display: grid;

            .products-details__price__vue-price {
                display: grid;
                grid-template-columns: 1fr 4fr;
                grid-template-rows: 1fr;
                align-items: center;
                margin-bottom: 25px;

                h3 {
                    font-size: 15px;
                    margin: 0;
                }
            }
        }

        .button-and-VAT {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            margin-bottom: 10px;

            
            .tva-update {
                font-size: 12px;
                text-align: end;
                padding-left: 10px;
            }
            
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #564aff;
                color: white;
                border-radius: 4px;
                width: 100%;
                height: 40px;
                font-size: 15px;
                cursor: pointer;
                border: none;

                &--disabled {
                    background-color: gray;
                    color: white;
                    cursor: not-allowed;
                    border-radius: 4px;
                    width: 100%;
                    height: 40px;
                    font-size: 15px;   
                }

                &:hover {
                    background-color: #463af5;
                    color: white;
                    cursor: pointer;
                }
                
            }

        
        }

        .static-prix-and-sigle {
          .static-prix {
            background-color: white;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            border: 2px solid #564aff;
            border-radius: 4px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 38%;
            font-size: 13px;
            

            .sigle {
                text-align: end;

                }

            }
        }     
    }
    .products-details__description-and-category{
        grid-column: 1;
        grid-row: 4;
        padding: 10px;
        
        .products-details__description{
            background-color: white;
            padding: 1px 10px 10px 10px;
            font-size: 15px;

            p{
                margin: 0;
            }
            
        }
        .products-details__category {
            background-color: white;
            padding: 10px;
            font-size: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            width: 100%;
            h3 {
                margin: 0;
            }
        }
    }
    .arrow {
        grid-column: 1;
        grid-row: 5;
        display: flex;
        padding: 10px;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
        align-items: center;
        img {
            width: 80%;
            height: 80%;
        }
    }
}

@media screen and (min-width: 769px) {
    .products-details {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 2fr auto ;

        h3 {
            color: #564aff;
            font-size: 20px;
        }
        .divclass{
            grid-row : 2 / span 2;
            grid-column: 1 / span 1;
            background-color:white;
            height: 600px;
            align-items: center;
            margin-left: 50px;
            img {
                width: 300px;
                height: 400px;
            }

        }

        .products-details__title {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .products-details__description-and-category {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr;
            padding-top: 0;

            .products-details__category {
                background-color: #fffff0;
                border: 0;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 6fr;
                align-items: start;
                padding-top: 0;
            }

            .products-details__description {
                background-color: #fffff0;
                padding-right: 50px;
                font-size: 15px;

                #products-details__description__h3 {
                    margin: 0;
                    margin-bottom: 15px;
                }

                #products-details__description__p{
                    margin: 0;
                    line-height: 1.5;
                }         
            }
        }

        .products-details__price {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;


            .products-details__price__container{
                padding: 10px;
                padding-top: 0;

                .products-details__price__vue-price {
                    display: grid;
                    grid-template-columns: 1fr;

                    #price {
                        margin: 0;
                        margin-bottom: 20px;
                        font-size: large;
                    }
                }

                .static-prix {
                    width: 150px;
                }

                .button-and-VAT {
                    grid-template-columns: 1fr 3fr;
                    .button {
                         width: 140px;

                         &--disabled {
                            width: 140px;
                         }
                    }

                    .tva-update {
                        text-align: start;
                        padding-left: 25px;
                    }
                }
            }
        }

        .arrow {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
            padding-left : 50px;
            padding-top: 0;
            padding-bottom: 0;

            img {
                width: 80%;
                height: 80%;
            }    
        }
    }
}
