@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
@mixin product-item {
    color: white;
    display: flex;
    justify-content: center;
    padding: 0px 3px 3px;
    border-radius: 15px;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @mixin tag-item {
    @include product-item;
    text-align: center;
    color: black;
  }
  
@mixin common-rules {
  @include tablet {
    @include tag-item;
  }
}

