html {
  background-color: #fffff0;

}

*, *::before, *::after {
  box-sizing: border-box;
}

img[alt='logo'] {
  display: none;
}

.nav-bar {
  background-color: #564aff;
  color: white;
  padding-bottom: 10px;
  
  .nav-bar__container {
    display: grid;

    .nav-bar__container__name {
      display: flex;
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid white;
      justify-content: center;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      font-size: 13px;
      font-weight: bold;
      list-style: none;
      text-align: center;
      padding: 0;
    
      li {
        margin: auto;


        a{
          text-decoration: none;
          color: white;
          text-align: center;
          &:hover {
            color: #3a3a3a;
          }
        }  
      }
    }
  }
}


.products-management {
  color: black;

  thead th{
    display: none;
  }

  th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  caption {
    display: flex;
    color: #564aff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  

  table, thead, tbody, tr, td, th {
    display: block;
    
    .products-management__table {
      border-collapse: collapse;
      width: 100%;
    }
    td {
      padding-left : 150px;
      position: relative;
      text-align: left;
      background-color: #fffff0;
      margin: -1px 10px 0;
      border-left: 0;


        &::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 130px;
          background-color: #564aff;
          color: white;
          display: flex;
          align-items: center;
          padding: 10px;
        }
      }
    tr {
      margin-bottom: 1rem;
      
      td:nth-child(odd) {
        background-color: white;
      }

      td:nth-child(even) {
        background-color:#fffff5 ;
      }
      
    }
    a{
      text-decoration: none;
      color: black;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #564aff;


      }
    }
  }   
}

@media screen and (min-width: 769px) {
  img[alt='logo'] {
    display: block;
  }

  .App {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav-bar products-management";
    height: 100vh;
  }

  .nav-bar {

    .nav-bar__container  {
      display: grid ;
      grid-template-rows: auto auto ;
      grid-template-areas: "name" "ul";

      .nav-bar__container__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 5px;

        .nav-bar__container__name {
          display: flex;
          flex: initial;
          flex-direction: column;
          grid-area: name;
          border-bottom: none;
          max-width: 150px;
          font-size: 15px;
          h2 {
            margin: 0; 
          }
        }
    }
    .nav-bar__container__menu{
      padding-top: 40px;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 0;

        li {
          margin: 0;
          margin-bottom: 40px;
          padding-left: 60px;
          text-align: left;
        }
      }
    }
  }
}

        /* -------------------------- */
  /* ------------ products-management -------------- */
        /* -------------------------- */


        .products-management {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 80%;

          .men {
            background-color: orange;
            color: white;
            display: flex;
            justify-content: center;
            padding: 0px 3px 3px;
            border-radius: 15px;
            width: 80%;
          }
          
          .jew {
            background-color: green;
            color: white;
            display: flex;
            justify-content: center;
            padding: 0px 3px 3px;

            border-radius: 15px;
            width: 60%;
          }
          
          table {
            display: table;
            border-collapse: collapse;
            width: 90%;            
        
            thead {
              display: table-header-group;
              background-color: #564aff;
              color: white;
              tr th {
                display: table-cell;
              }
            }
              
            caption {
              display: table-caption;
              margin-top: 50px;
              margin-bottom: 50px;
              font-size: 30px;
            }
        
            tbody {
              display: table-row-group;
            }
        
            td::before {
              content: none;
            }
        
            tr {
              display: table-row;
              border-bottom: 2px solid #fffff0;
                
                td:nth-child(odd) {
                  background-color: #fffff0;
                }
            }
            
            td, th {
              display: table-cell;
              padding: 25px;
              border: 0;
            }
          }  
        }
      }




