.pagination {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
        padding: 20px;
    }

    &__list {
        background-color: rgb(239, 239, 239);
        border-radius: 100px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 10px;
        justify-items: center;
        align-items: center;
        margin: auto;
        }
    &__item {
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

    }

    .page__item {
        &--active {
            background-color: #564aff;
            color: white;
            padding: 15px;
            border-radius: 10px;
        }
    }
}


